@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans:wght@500;600&family=Yuji+Hentaigana+Akebono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans:wght@500;600&family=Ubuntu:wght@500&family=Yuji+Hentaigana+Akebono&display=swap');

html {
  background-color: rgb(238, 240, 244);
}

.logos {
  /*margin-top: 100px;*/
}

.theme-turner {
  height : 70px;
  width : 70px;
  float : right;
  display : inline-block;
  margin-right : 25px;
}

.flag-container {
  cursor : pointer;
  height : 70px;
  width : 70px;
  margin-left : 25px;
  margin-top : 25px;
  border-radius: 100%;
  box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
  border : 2px solid rgb(238, 240, 244);
}

.flag {
  position : relative;
  top : 3px;
  height : 60px;
  width : 60px;
  border-radius: 100%;
  box-shadow: inset 9.91px 9.91px 15px #D9DADE, inset -9.91px -9.91px 15px #FFFFFF;
  @apply mx-auto;
}

.flag img {
  position : relative;
  top : 10px;
  height : 40px;
  width : 40px;
  @apply mx-auto;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo-container {
  cursor: pointer;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: inset 9.91px 9.91px 15px #D9DADE, inset -9.91px -9.91px 15px #FFFFFF;
  /*@apply relative lg:bottom-2/3;*/
}

.small-logo {
  margin-top: 62px;
  height: 128px;
  width: 128px;
  margin-left: auto;
  margin-right: auto;
}

.main-logo {
  position: relative;
  cursor: pointer;
  width: 256px;
  height: 256px;
  z-index: 105;
  border-radius: 100%;
  background-color: rgb(238, 240, 244);
  box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
}

.navigator-item {
  cursor: pointer;
  height: 100px;
  width: 100px;
  background-color: rgb(238, 240, 244);
  border-radius: 50%;
  /*box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;*/
}

.contacts {
  bottom: 105px;
}

.contact {
  box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
  border-radius: 100%;
  transition: all .75s linear;
  position: relative;
  bottom: 160px;
  z-index: 2;
}

.contact div {
  transition: all .75s linear;
}

.test {
  margin-bottom : 50px;
}

.logo-text {
  cursor: pointer;
  position: relative;
  top: 45px;
  display: block;
  font-size: 120px;
  width: 256px;
  font-family: 'Comfortaa', cursive;
  text-align: center;
  @apply unselectable
}

.tech-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  color: #3A424B;
  border-radius: 20px;
  @apply px-4 py-2 block text-center
}

.bio-header {
  font-family: "Ubuntu", sans-serif;
  font-size : 25px;
  color: #3A424B;
  @apply mx-auto block;
}

.bio-description {
  font-family: "Ubuntu", sans-serif;
  font-size : 16px;
  color: #3A424B;
  display: inline-block;
  text-indent : 1rem;
  @apply text-justify;
}

.bio {
  width: 80%;
  border-radius: 10px;
  box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;
  @apply px-8 py-4 text-center;
}

.SharapaLogo {
  position: relative;
  height: 300px;
  z-index: 100;
}

.line {
  height: 3px;
  min-width : 40vw;
  border-radius: 100px;
  background-color: #3A424B;
}
